<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <h1 class="text-center mb-4"><%= t('.title') %></h1>
        <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

        <div class="mb-3">
          <%= f.label :email %><br />
          <%= @user.email %>
        </div>
        <div class="mb-3">
          <%= f.label :password, User.human_attribute_name(:password), class: "form-label" %>
          <%= f.password_field :password, class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation , User.human_attribute_name(:password_confirmation ), class: "form-label" %>
          <%= f.password_field :password_confirmation , class: "form-control", required: true %>
        </div>
        <div class="d-grid mb-3">
          <%= f.submit '更新', class: "btn btn-primary btn-sm px-4" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>