<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <% if board.image.present? %>
      <%= image_tag board.image.url, class: "card-img-top",  width: "300", height: "200" %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"><%= link_to board.title, board_path(board)%></a>
        </h4>
        <% if board.is_mine?(current_user) %>
          <%= render 'crud_menus', board: board %>
        <% else %>
          <%= render 'boards/bookmark_button', board: board %>
        <% end %>
        <ul class="list-inline">
          <li class="list-inline-item d-block">
            <%= icon "far", "fa-user" %>
            <%= board.user.decorate.full_name%>
          </li>
          <li class="list-inline-item d-block">
            <%= icon "far", "calendar" %>
            <%= board.created_at.to_s(:datetime_jp) %>
          </li>
        </ul>
        <p class="card-text"><%= board.body %></p>
      </div>
    </div>
  </div>
</div>