<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <%= image_tag board.image.url, class: "card-img-top",  width: "300", height: "200" %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"><%= link_to board.title, board_path(board)%></a>
        </h4>
        <%= render 'crud_menus', board: board %>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="far fa-user"></i><%= board.user.decorate.full_name%></li>
          <li class="list-inline-item"><i class="far fa-calendar"></i><%= board.created_at.to_s(:datetime_jp) %> </li>
        </ul>
        <p class="card-text"><%= board.body %></p>
      </div>
    </div>
  </div>
</div>